[Unit]
Description=The Geeny Hub Daemon
After=syslog.target network.target

[Service]
User=pi
Environment=SSL_CERT_DIR=/etc/ssl/certs
WorkingDirectory=/home/pi
PrivateTmp=true
Type=simple
Restart=always
RestartSec=1min
StandardOutput=null
StandardError=null
ExecStart=/home/pi/geeny-hub
ExecStop=/usr/bin/killall geeny-hub

[Install]
WantedBy=multi-user.target
